<h3><%= @merchant.name %>'s Invoice:</h3>

<h2>Invoice #<%= @invoice.id %> </h2>
  <p>Status: <%= @invoice.status%></p>
  <p>Created on: <%= @invoice.formatted_date %></p>
  <p>Customer: <%= @invoice.customer.full_name %></p>

<section id="items-purchased">
  <h4>Items on Invoice:</h4>
    <% @invoice.invoice_items.each do |invoice_item| %>
      <p>Item Name: <%= invoice_item.item_name %> Qty: <%= invoice_item.quantity %></p>
      <p>Sold For: $<%= invoice_item.formatted_unit_price %></p>
      <%= form_with url: "/invoice_items/#{invoice_item.id}", method: :patch, local: true do |f| %>
        <%= f.label :status %>
        <%= f.select :status, [ 'pending', 'packaged', 'shipped' ], selected: invoice_item.status %>
        <%= f.submit "Update #{invoice_item.item_name} Status" %>
    <% end  %>
    <% end  %>
</section>
