<!DOCTYPE html>
<html>
  <head>
    <title>Little Etsy Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
  <% end %>
    <%= yield %>
  <br>
  <h1> Github Contributors </h1>
  <%# <%= @contributors[0] %>
  <%# <%= @contributors[1] %>
  <%# <%= @contributors[2] %>
  <%# <%= @contributors[4] %>
  <h2> Repo Name </h2>
  <%# <%= @repo_name %>
  <h2> Pull Requests </h2>
  <%# <%= @pulls %> 

  </body>
</html>
