<!DOCTYPE html>
<html>
  <head>
    <title>Little Etsy Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
  <% end %>
    <%= yield %>
  <br>
  <h1> Github Contributors </h1>
  <% GitHubService.new %>
  <%= @contributor_names %>
  <%= @repo_name %>
  </body>
</html>
